

<div class="my-component">
    This component is defined in the <strong>Microfrontend.one</strong> library.
</div>

@code{
    protected override void OnInitialized()
    {
        Console.WriteLine("[Microfrontend.one] Component1 loaded!");
    }
}